@media only screen and (min-width: 768px) {
    
    
    .large-3 {width: 25%;}
    
    nav ul {margin-left: 2vw;}

    nav li {width: autopx;}

    nav a {padding: .8rem 1rem}

    
    } /* slutt av meda quary */



