@media only screen and (min-width: 768px) {

header h1 {font-size: 1.9rem;}
header h2 {font-size: 1.3rem}
header img {height: 100px ;}

    .medium-6 {width: 50%;}


nav button {display: none;} /* gjør at hamburger knapp forsvinner på medium width */

nav ul {display: block;} /*tvinger navigasjons linkene til å vise seg  */

nav li {width: 25%; float: left;} /* viser alle linkene som 25% og flytter dem til venstre*/


} /* slutt av media quary */